/*
FUNCIONES UTLIZADAS:
*************************************FUENTES:***************************************
@font-face = Permite definir una tipografia importante para el uso en un apagina web 
font-family = Establece el tipo de letra con la que se mostrara el texto
src = Espesifica el recurso o la ruta que contiene a la fuente
font-weight = Espesifica el peso o grueso de la letra 
font-style = permite espesificar un estilo de fuentes

**************************************GENERALES***************************************
* = Permiete realizara seleccion universal 
margin = Se utiliza para establecer la margen de los cuatro lados a las vez. 
padding = Se utiliza para dar relleno a los cuatro lados.
font-family = Establece la fuente o tipo de letra con la que se establece el texto.
text-decoration = Se utiliza para definir el sub rayado de un texo.
. = Se utiliza para indicar que vamos a poner estilo a la calse mencionada 
color =  Nos permiete para poner la tonaliada que deseamos a esta clase
margin-top = Se utiliza para espesificar la margen superior del elemento
font-size = Se utiliza para espesificar la dimencion de la letra. 

}

***************************************alerta********************************************

padding = Se utiliza para definir el espacio en los 4 lados del elementoa la vez
font-size = Se utiliza para espesificar la dimencion de la letra
color = Se utiliza para definir el color
background = Se utiliza para definir el fondo del elemnto
box-shadow = permite proyectar una sombra difuminada desde el marco
             de casi cualquier elemento 
margin-bottom = Se utiliza para definir la margen inferior del elemnto
border-radius = Se utiliza para definir los cuatro puntas del elemnto de forma redonda

******************************************alerta-error***********************************

background =  Se utiliza ara definir los valors del fondo del elemento.


***************************************body*********************************************
background = Se utiliza como atajo para definir los valore de fondo en una unica regla

***************************************.clearfix****************************************
.= Es para definir una clase, la cual se puede utilizar muchas veces en la misma pagina 
clear = Espesifica que un elemento debe estar al lado del elemento flotante que lo 
        preceden o si deben ser movidos
float = Ubica a los elementos al lado izquierdo o derecho de su contenedor, permitiendo a 
        los elementos de texto o de linia permanecer a su costado.

****************************************CABECERA******************************************
width = Se utiliza para establecser el ancho del elemento
height = Espesifica la altura del elemento 
background = SE utiliza para definir los valores del fondo 
margin = Se utilioza para establecer los valores de margen 
border = Permite definir en una unica regla todos los bordes de los elemneto 

******************************************#logo*******************************************
float = Ubica a los elementos al lado izquierdo o derecho de su contenedor, permitiendo a 
        los elementos de texto o de linia permanecer a su costado
width = Se utiliza para establecer la anchura del elemento
height = Espesifica la altura del elemento

*********************************************#logo a***************************************
font-family = Establece le tipo de letra con la que se mostrara el texto
font-size = Se utiliza para espesificar la dimencion de la letra
letter-spacing = Define una cantidad de espacios entre caracteres
color = se utiliza para poner el color que se desea 
text-shadow = Se utliza para agregar sombra al texto
transition =  Se utiliza para realizar cambios de una forma muy controlada y suave si altera
              el estado final del producto 

*********************************************#logo a:hover*********************************
#logo a:hover =  Esta funcion la utilizamos para crear el efecto de movimiento 
cursor = Permite modificar el puntero por otro simbolo cuando se単ala el prducto que se desea
text-shadow= Permite agragar sombras al texto separadas por coma.

***********************************************#menu***************************************

clear =  Espesifica que un elemento debe estar al lado del elemento flotante que lo 
        preceden o si deben ser movidos.
both = Hace que la caja donde se aplica baje hasta el borde siperio de la caja 
width = Se utiliza para establecer la anchura del lemento 
background: Se utiliza para definir los valores del fondo del elemento
linear-gradient = Se utiliza para que el color se vaya degradando suavemente para crear el
                  efecto esperado en el desvanecido del color.
border-radius = Permiete redondear los bordes de la caja
box-shadow = permite proyectar una sombra difuminada desde el marco
             de casi cualquier elemento 
overflow = permite regular la visibilidad de los contenidos que sobre salen 
******************************************#menu ul****************************************
list-style = Se utiliza para establecer de forma abreviada el valor de una o mas propiedades.

********************************************#menu ul li************************************ 
float = Se utiliza para ubicar el elemento al lado derecho o izquierdo de su contenedor
line-height = Establece una casilla remarcada por alturas 
border-right = Es una apropiedad rapida para dar valores a los bordes


*********************************************#menu ul li a********************************
display = Espesifica si un lemento es tratado como un block
padding-left = Establece la anchura de relleno del costado izquierdo
padding-right = Establece la anchura de relleno del costado Derecho
font-size: = Espesifica la dimencion de la letra
color = Espesifica el color del elemento 

*******************************************#menu ul li a:hover*****************************

background: Se utiliza para definir los valores del fondo del elemento
linear-gradient = Se utiliza para que el color se vaya degradando suavemente para crear el
                  efecto esperado en el desvanecido del color.

********************************************#contenedor*************************************

width = Se utiliza para definir el acho del elemento
min-height = Se utiliza para definiir el minimo de altura en un elemento
margin = Se Ultiliza para establecer las margenes de los cuatro lados 
margin-top = Se utiliza para espesificar el margen superior del elemento 
margin-bottom = Se utiliza para definir la margen inferior del elemento 

*******************************************#sidebar*****************************************

float = Se utiliza para ubicar el elemento al lado derecho o izquierdo del contenedor
width = Se utiuliza para definir el ancho del elemento 
min-height= Se utiliza para definir el minimo de altura del elemento

*******************************************.bloque******************************************

display = eSpesifica si un elemento es tratado como un block
width = Se utiliza para definir el ancho del elemento
margin = Se utiliza para definir las marguen de los 4 lodos del elemento 
background Se utiliza para definir la tonalidad del fonfo
padding = se utiliza para dar relleno  en los cuatro lados del elemento
box-shadow = Permite proyectar una sombra difuminada desde el marco de casi cualquier elemnto.

********************************************label*******************************************

input[type="text"], = Se utiliza para definir los campos a ls que aplicara el estilo
input[type="email"], = Se utiliza para definir los campos a ls que aplicara el estilo
input[type="password"] = Se utiliza para definir los campos a ls que aplicara el estilo
display: block = Espesifica el el elemento sera tratado como un block
width = Nos permiete definir el ancho del elemento
margin-top = Se utiliza para definir el espacio en la margen superior
margin-bottom = Se utiliza para definir la margen inferior del elemento


input[type="text"], = Se utiliza para definir los campos a ls que aplicara el estilo
input[type="email"], = Se utiliza para definir los campos a ls que aplicara el estilo
input[type="password"] = Se utiliza para definir los campos a ls que aplicara el estilo
padding = Se utiliza para dar relleno en los cuatro lados del elemento.
margin-bottom = Se utiliza para definir el espacio de la margen inferior

input[type ="button"] = Se utiliza para definir los campos a ls que aplicara el estilo
input[type ="submit"] = Se utiliza para definir los campos a ls que aplicara el estilo
display = Se utiliza para definir el elemnto coo un block
border-radius Se utilizaoara que los bordes delelemnto sean redondos
color = Se utiliza ara definir el color 
background = Nos permiete definir las propiedades el fondo 
border = Permiete definir los 4 bordes en un solo parametro
cursor = Permiete que cuando pase el cursor del mause por encima este cambie su forma
padding = Se utiliza para dar relleno a los cautro lados del elemento
width = Se utiliza para depfinir el ancho del elemento
margin-top = Se utiliza oara definir el espacio la margen superior
margin-bottom = Se utiliza para definir el espacio en la marge inferior

.boton =  Es una clase que definimos 
text-align Se utiliza para alinear el contenido en uno de los 4 valore 
width = se utiliza para defiir el ancho del area del contenido
.boton-verde = es una clse que definismos 
background = Nos permite definir los valore del fondo del elemento
border-color = Se utiliza para definir el borde del color del elemnto

.boton-naranja = Es una clase que definimos
background =  Nos permiete definir los valores del fondo del documento del elemnto.
border-color Se Utiliza para definir el color de los vordes del elemnto.


*******************************************#principal**************************************

float = Se utiliza para ubicsra el elemnto vienn sea al lado derecho o izquierdo
width: Se utiliza para definir el ancho del elemento
min-height = lo utilizamos para definir la latura minima del elemento
background = Nos permiete definir los valores del fondo del elemento
border-radius = Nos permiete redondear los bordees de la caja 
box-shadow =  permite proyectar una sombra difuminada desde el marco
             de casi cualquier elemento 
margin-left = Permiete establecer el tama単o de la margen izquierda
padding = Se utiliza para dar relleno a los cuatro lados.
overflow = permite regular la visibilidad de los contenidos que sobre salen 

**********************************************#principal a********************************

color = Nos permiete definir el tono que utilizaremos para el elemento 

********************************************#principal h1**********************************
font-size = Dimencion o tama単o de la letra
color = Se utiliza para aplicar la tonalidad al elemento 
letter-spacing = Define una cantidad de espacios entre caracteres
text-shadow = Permite agrgar sombras altexto
font-family = Se utuliza para definir la familia de letras a utilizar

********************************************#principal h2**********************************
font-size = Dimencion o tama単o de la letra
color = Se utiliza para aplicar tonalidad del elemento
text-shadow = Permite agrgar sombras al texto
letter-spacing = Define una cantidad de espacios entre caracteres
font-family = Se utiliza para definir la familia de letras a utilizar
margin-top = Se utuliza para indicar el ancho de la margen superior

*********************************************#principal p***********************************
margin-too = Se utiliza para definir el espacio superior del elememto

**********************************************#ver-todas a**********************************
display = Se utiliza para espesificar si el elemento es tratado como u block
border-radius = Permite redondear las bordes de la caja 
padding = Se utiliza para bridar relleno el los cuatro lados del elemento a la vez
color = Se utiliza para aplicar tonalidad al elemento
background = Permite definir los valores del fondo
border = Pernmite definir todos los bordes del elemnto a las vez
cursor = Permite modificar el puntero cuando pase por encima por otro simbolo
width = Se utuliza para definir  el ancho de un elemnto.
margin = Se utiliza para indicar las margenes a los cuatro lados del elemnto
margin-top = Se utuliza para indicar el ancho de la margen superior

***********************************************#pie****************************************
clear = Espesifica que un elemento debe estar al lado del elemento flotante que lo 
        preceden o si deben ser movidos.
width = Se utiliza para definir el ancho de un elemento
margin = Se utiliza para especificar las margees en los cautro lados 
background = Se utiliza para definir el fondo del elemento
border = Permite definir los 4 bordes del elemento 
border-bottom = Permiete definir el borde inferior del elemnto
border-radius =  permiete definir bordes redondod para las 4 equinas
color = tomamos el color que se dese aplicar
height = Espesifica la altura del elemento 
padding = Estabelce el area de relleno de los 4 lados del elemento
text-align = Se utiliza para alinear el texto del elemento
 # Se tuliza como selector de iD 

*/


/*FUENTES*/

@font-face{
    font-family:"fajala";
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none; 
}
.clearfix{
    clear: both;
    float: none;
}

body{

    background:url(../img/1.png) #f9f9f9  ;
}

.alerta{
    padding: 5 px;
    font-size: 14px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 15 px;
    border-radius: 2px;
}

.alerta-error{
    background: red;
}

.fecha{
    color: rgb(102, 102, 100);
    margin-top: 5px;
    font-size: 14px;

}


/*CABECERA*/

#cabecera{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto;
    /* border: 1px solid black; */
}

/*LOGOTIPO*/

#logo{
float:left;
width:540px;
height: 100px;
}

#logo a{
    font-family: "fajala", Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color:#2979DC;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
    transition: all 800ms;
    line-height: 90px;
    margin-left: 10px;
}

#logo a:hover{
cursor: pointer;
text-shadow: 0px 0px 0px black, -1px 1px 0px black, -2px -2px 0px black;
}

/*MENU*/

#menu{
    clear: both;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #eee;
    overflow: hidden;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    line-height: 40px;
    border-right: 1px solid #D6D6D6;

}

#menu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #838282;    

}
#menu ul li a:hover{
    background: linear-gradient(to bottom, #f2f2f2 0px, #dad9d4 100%);
}

/* CONTENEDOR*/

#contenedor{
    width:85%;
    height: auto;
    margin: 0px auto;
    margin-top: 30px; 
    margin-bottom: 30px;
}

/*BARRA LATERAL*/

#sidebar{
    float: right;
    width: 27%;
    height: auto;
}

.bloque{
    display: block;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 100px;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3),0px 0px 1px #ffffff inset, 0px -3px 2px rgba(0,0,0,0.25)inset;
}

.bloque h3{
    margin-top: 15px;
    margin-bottom: 30px;
    
}

label,
input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
      padding: 5px;
      margin-bottom: 10px;    
}
input[type ="button"],
input[type ="submit"],
.boton{
    display: block;
    border-radius: 2px;
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    padding: 1.5%;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 15px;

}
.boton{
    text-align: center;
    width: 130px;
}

.boton-verde{
    background: rgb(5, 238, 40);
    border-color: green;
}
.boton-plata{
    background: rgb(219, 222, 219);
    border-color: rgba(240, 244, 240, 0.535);
}

.boton-naranja{
    background: orange;
    border-color: rgb(118 78 4);
}

.boton-rojo{
    background: red;
    border-color: rgb(85, 6, 3);
}
/*PRINCIPAL*/

#principal{
    float: left;
    width: 65%;
    min-height: 572px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin-left: 20px;
    padding: 20px;
    overflow: hidden;
}

#principal a{
    color: #333;
}

#principal h1{
    font-size: 32px;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    font-family: "fajala";

}

#principal h2{
    font-size: 20 px;
    color: #2979dc;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;    
    font-family: "fajala";
    margin-top: 25px;

}

#principal p{
    margin-top: 5px;
}

#ver-todas a{
    display: block;
    border-radius: 2px;
    padding: 15px;
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    width: 160px;
    margin: 0px auto;
    margin-top: 40px;

}

/* PIE DE PAGINA */

#pie{
    clear: both;
    width: 85%;
    margin: 0px auto;
    background: linear-gradient(to bottom, #f9f9) 0px, #e9e9e9 100%;
    border: 1px solid #c9c9c9;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    color: #666;
    height: auto;
    padding: 15px;
    text-align: center;    
}





